<main class="holder">
    <div class="homeimg">
        <img src="/images/img-home.png" width=100% alt="Diseño, Encuadernación y Lettering">
    </div>
    <div class="columnas">
        <div class="bienvenidos left">
            <h2 style="text-transform: uppercase;">Bienvenidos!</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id fugit velit aliquam nam provident esse? A
                libero consequatur odio! Cumque quaerat nemo maxime quam delectus porro dicta fuga est minima?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur nobis dolores molestiae
                corrupti? Enim ipsum modi expedita, ad, maiores labore sint consequatur sunt qui minima, possimus
                praesentium rem tempora! Voluptas!</p>
        </div>
        <div class="destacado right">
            <img src="/images/anima-home.gif" width=100% alt="">
        </div>
    </div>
</main>