<main class="trabajos">
    <div class="portfolio">
        <div class="foto"><img src="/images/portfolio/001.jpg" alt="img01"></div>
        <div class="foto"><img src="/images/portfolio/002.jpg" alt="img02"></div>
        <div class="foto"><img src="/images/portfolio/003.jpg" alt="img03"></div>
        <div class="foto"><img src="/images/portfolio/004.jpg" alt="img04"></div>
        <div class="foto"><img src="/images/portfolio/005.jpg" alt="img05"></div>
        <div class="foto"><img src="/images/portfolio/006.jpg" alt="img06"></div>
        <div class="foto"><img src="/images/portfolio/007.jpg" alt="img07"></div>
        <div class="foto"><img src="/images/portfolio/008.jpg" alt="img08"></div>
        <div class="foto"><img src="/images/portfolio/009.jpg" alt="img09"></div>
        <div class="foto"><img src="/images/portfolio/010.jpg" alt="img10"></div>
        <div class="foto"><img src="/images/portfolio/011.jpg" alt="img11"></div>
        <div class="foto"><img src="/images/portfolio/012.jpg" alt="img12"></div>
        <div class="foto"><img src="/images/portfolio/013.jpg" alt="img13"></div>
        <div class="foto"><img src="/images/portfolio/014.jpg" alt="img14"></div>
        <div class="foto"><img src="/images/portfolio/015.jpg" alt="img15"></div>
        <div class="foto"><img src="/images/portfolio/016.jpg" alt="img16"></div>
        <div class="foto"><img src="/images/portfolio/017.jpg" alt="img17"></div>
        <div class="foto"><img src="/images/portfolio/018.jpg" alt="img18"></div>
        <div class="foto"><img src="/images/portfolio/019.jpg" alt="img19"></div>
        <div class="foto"><img src="/images/portfolio/020.jpg" alt="img20"></div>
        <div class="foto"><img src="/images/portfolio/021.jpg" alt="img21"></div>
        <div class="foto"><img src="/images/portfolio/022.jpg" alt="img22"></div>
        <div class="foto"><img src="/images/portfolio/023.jpg" alt="img23"></div>
        <div class="foto"><img src="/images/portfolio/024.jpg" alt="img24"></div>
        <div class="foto"><img src="/images/portfolio/025.jpg" alt="img25"></div>
    </div>
</main>