#contenedor {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#rojo {
    width: 100px;
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: red;
}

#azul {
    width: 100px;
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: blue;
}

#verde {
    width: 100px;
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: green;
}