/* configuración de fondo */
body{
   background-color: beige;
   padding: 25px;
   font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

/* estilos de textos */
p{
    font-size: 16px;
    color: rgb(109, 109, 109);
}

a{
    color: indigo;
    text-decoration: none;
}

h1{
    color:darkred;
}

h2{
    color: darkcyan;
}

h3{
    color: rgb(109, 109, 109);
    font-style: italic;
}

h4{
    color: darkred;
}

li{
    color: rgb(109, 109, 109);
}

/* estilos imagen */
.perfil {
    border: 10px solid white;
}

/* estilo formulario */
form{
    width: 500px;
    border:1px dashed darkred;
    padding: 20px;
    margin-top: 10px;
}